.tabPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    .thumbnailContainer {
        display: flex;
        justify-content: center;
        margin: 1em;
        margin-bottom: 2em;

        
        .card {
            width: 20em;
            background-color: rgb(245, 245, 245);
            transition: all .2s ease-in-out;
            box-shadow: .3em .3em .5em rgb(196, 196, 196);
            
            
            &:hover {
                -webkit-transform: scale(1);
                -ms-transform: scale(1.2);
                transform: scale(1.02);                
            }
            .cardHeader {
                height: 3em;
            }
            .cardMedia {
                height: 194px;
            }
        }
    }
}

.thumbnailsContainer {
        .trailerCard {
        max-height: 80vh;
        max-width: 90vw;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        
        .cardContent{
            margin: 0 1em;
        }
        
        //Tablet
        @media screen and ( min-width: 700px ) {
            .cardContent{
                margin: 0 2em;
            }        
        }
        
        //Laptop
        @media screen and ( min-width: 1000px ) {
            max-width: 60vw;
        }
        
        //Desktop
        @media screen and ( min-width: 1280px ) {
            max-width: 50vw;
        }
    }
}